.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Photo {
  margin: 20px 20px 20px 20px;
  text-align: center;
}
.Photo-position {
  position: fixed;
  left: 400px;
}
.Photo-view {
  height: 250px;
  width: 350px;
  left: 250px;
}



.PhotoList {
  margin: 20px 20px 20px 20px;
  height:250px;
  width:350px;
}
.PhotoList-position {
  position: fixed;
  left:150px;
}



.PhotoListEntry {
  height: 35px;
  width: 350px;
  text-align: left;
}